.home-nav{
    background-color: white;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-image{
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.nav-img {
    width: 70px;
}

@media screen and (max-width : 900px) {
    .home-nav{
        overflow-x: scroll;
        padding: 0;
    }

    .nav-image {
        padding: 0 20px;
    }

    .nav-img {
        width: 90px;
    }
}